.company{
    padding:2em 0;
    position: relative;
    height:auto;
}

.left-nav{
    position: absolute;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    width: 200px;
}

.left-nav ul{
    padding: .5em 0;
    margin: 0;
    list-style: none;
}

.left-nav ul li{
    position: relative;
    line-height: 50px;
    background-color: rgba(255,255,255,0);
    z-index: 2;
    overflow: hidden;
    cursor: pointer;
}

.left-nav ul li.active span{
    left: -195px;
}

.left-nav ul li:hover span{
    left:0;
}

.left-nav ul li span{
    position: absolute;
    display: block;
    height: 50px;
    width: 200px;
    background-color: rgba(254,115,22,.5);
    z-index: 0;
    left:-200px;
    -webkit-transition: left 1s ease-in-out;
    -moz-transition: left 1s ease-in-out;
    -ms-transition: left 1s ease-in-out;
    -o-transition: left 1s ease-in-out;
    transition: left 1s ease-in-out;
}

.left-nav ul li.active a{
    color: rgba(254,115,22,.9);
    /*border-left: 3px solid rgb(254,115,22);*/
}

.left-nav ul li a{
    /*border-bottom: 1px solid #ddd;*/
    margin: 0 20px;
    padding-left:10px;
    display: block;
    position: relative;
    z-index: 3;
    color: #555;
}

.left-nav ul li a.last{
    border-bottom: none;
}

.right-content{
    position: relative;
    left: 230px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    width: 870px;
    min-height: 600px;
    padding:1em 2em;
}

.right-content h1{
    border-bottom: 1px solid #ccc;
    color: #666;
    padding: 1em 0;
}

.right-content p{
    text-indent:2em;
}

.right-content p a{
    color: blueviolet;
}

.right-content p a:hover{
    text-decoration: underline;
}

.right-content .top{

}

.right-content .division{
    margin-top: 1.5em;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 1px;
    /*border: none;*/
    background-color: #cccccc;
}

.right-content .division>span{
    display: block;
    background-color: rgb(16,123,199);
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height: 5px;
    position: relative;
    top:-2px;
}

.right-content .mainContent{
    position: relative;
    padding-top: 2em;
    height:640px;
}


/*企业文化样式*/
.mainContent .trunk{
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    height: 600px;
    width: 2px;
    background-color: #ccc;
    position: absolute;
    left: 50%;
}

.mainContent .trunk:before{
    content: "";
    display: inline-block;
    height:6px;
    width: 6px;
    position: relative;
    left:-2px;
    top:-14px;
    border-radius: 100%;
    background-color: rgb(16,123,199);
}

.mainContent .trunk ul{
    list-style:none;
}

.mainContent .trunk ul>li{
    width: 100px;
    display: block;
    position:relative;
    margin-top: 20px;
}

.mainContent-1 .lr1,.mainContent-3 .lr1,.mainContent-5 .lr1,.mainContent-2 .rl3,.mainContent-4 .rl3{
    background-color: rgb(16,123,199);
    border-radius: 3px;
    padding: 3px 5px;
    color: #fff;
}

.mainContent-1 .lr1,.mainContent-3 .lr1,.mainContent-5 .lr1{
    position: relative;
    left: -150px;
}

.mainContent-1 .lr1:after,.mainContent-3 .lr1:after,.mainContent-5 .lr1:after,.mainContent-2 .rl3:before,.mainContent-4 .rl3:before   {
    content: '';
    width: 0;
    height: 0;
    display: block;
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    position: absolute;
    top:50%;
    margin-top: -5px;
}

.mainContent-1 .lr1:after,.mainContent-3 .lr1:after,.mainContent-5 .lr1:after{
    right:0;
    margin-right: -4px;
    border-left: 5px solid rgb(16,123,199);
}

.mainContent-1 .lr2,.mainContent-3 .lr2,.mainContent-5 .lr2,.mainContent-2 .rl2,.mainContent-4 .rl2{
    width: 36px;
    height: 36px;
    display: block;
    border-radius: 100%;
    background-color: rgb(16,123,199);

}

.mainContent-1 .lr2,.mainContent-3 .lr2,.mainContent-5 .lr2{
    position: relative;
    top:-32px;
    left:-50px;
}

.mainContent-1 .lr2:after,.mainContent-3 .lr2:after,.mainContent-5 .lr2:after{
    content: '';
    width: 30px;
    height: 1px;
    background-color: rgb(16,123,199);
    display: block;
    top:50%;
    position: absolute;
    left: 35px;
}

.lr2 span,.rl2 span{
    line-height: 36px;
    font-size: 26px;
    color: #fff;
    margin-left: 5px;
}

.mainContent-1 .lr3,.mainContent-3 .lr3,.mainContent-5 .lr3{
    display: block;
    width: 300px;
    position: relative;
    top:-64px;
    left:30px;
}

.mainContent-2 .rl1,.mainContent-4 .rl1{
    display: block;
    width: 300px;
    position: relative;
}

.mainContent-2 .rl2:before,.mainContent-4 .rl2:before{
    content: '';
    width: 30px;
    height: 1px;
    background-color: rgb(16,123,199);
    display: block;
    top:50%;
    position: absolute;
    right: 35px;
}

.mainContent-2 .rl1{
    left:-300px;
}

.mainContent-4 .rl1{
    left:-380px;
}

.mainContent-2 .rl2,.mainContent-4 .rl2{
    position: relative;
    top:-32px;
    left:-50px;
}

.mainContent-4 span.rl2{
    top:-50px;
}

.mainContent-4 span.rl3{
    top:-80px;
}


.mainContent-2 .rl3,.mainContent-4 .rl3{
    position: relative;
    top:-64px;
}

.mainContent-2 .rl3:before,.mainContent-4 .rl3:before{
    left:0;
    margin-left: -4px;
    border-right: 5px solid rgb(16,123,199);
}

/*企业文化样式end*/


/*人才招聘*/
.hrContent{
    position: absolute;
    left:50%;
    top:20px;
    margin-left: -180px;
}

.hr-l{
    position: relative;
    left:-220px;
    top: -50px;
    height: 0;
    overflow: hidden;
    cursor: default;
}

.hr-l .hr-title{
    color: #fff;
    background-color: rgb(16,123,199);
    padding:5px 10px;
    border-radius: 10px;
    position: absolute;
    top:-30px;
    left: 70px;
    z-index: 5;
}

.hr-l .hr-content{
    width: 220px;
    background-color: rgb(159,217,255);
    border-radius: 10px;
    padding: 10px 5px;
    z-index: 4;
    position: relative;
}

.hr-l .hr-content p{
    padding: 0 5px;
    margin: 0;
    font-size: 14px;
    line-height: 14px;
}

.hr-l-1{
    cursor: pointer;
}

.hr-l-2{
    cursor: pointer;
    position: relative;
    top:60px;
    left:-40px;
}

.hr-l-3{
    cursor: pointer;
    position: relative;
    top:120px;
    left:-10px;
}

.hr-l-4{
    cursor: pointer;
    position: relative;
    top:180px;
    left:-10px;
}

.hr-l-5{
    cursor: pointer;
    position: relative;
    top:218px;
    left:70px;
}


.hr-l{
    position: relative;
    left:-220px;
    top: -50px;
    height: 0;
    overflow: hidden;
    cursor: default;
}

.hr-r{
    position: relative;
    top: -50px;
    height: 0;
    overflow: hidden;
    cursor: default;
}

.hr-r .hr-title{
    color: #fff;
    background-color: rgb(16,123,199);
    padding:5px 10px;
    border-radius: 10px;
    position: absolute;
    top:-30px;
    right: 70px;
    z-index: 5;
}

.hr-r .hr-content{
    width: 220px;
    background-color: rgb(159,217,255);
    border-radius: 10px;
    padding: 10px 5px;
    z-index: 4;
    position: relative;
}

.hr-r .hr-content p{
    padding: 0 5px;
    margin: 0;
    font-size: 14px;
    line-height: 14px;
}

.hr-r-1{
    cursor: pointer;
    position: relative;
    top:-100px;
    right:-220px;
}

.hr-r-1 .hr-r{
    right:-90px;
}

.hr-r-2{
    cursor: pointer;
    position: relative;
    top:-30px;
    right:-220px;
}

.hr-r-2 .hr-r{
    right: -106px;
}

.hr-r-3{
    cursor: pointer;
    position: relative;
    top:45px;
    right:-220px;
}

.hr-r-3 .hr-r{
    right: -106px;
}

.hr-r-4{
    cursor: pointer;
    position: relative;
    top:95px;
    right:-230px;
}

.hr-r-4 .hr-r{
    right: -122px;
}

.hr-r-5{
    cursor: pointer;
    position: relative;
    top:130px;
    right:-220px;
}

.hr-r-5 .hr-r{
    right: -155px;
}
/*人才招聘end*/
