.focus,.focus img{
    min-width: 1100px;
}

.content{
    width: 100%;
    min-width: 1100px;
    position: relative;
}

.content small.subTitle{
    display: block;
    font-size: .7em;
    position: relative;
    top: 10px;
}

.content p{
    margin: 0;
    line-height: 1.3;
}

.content div.box{
    padding-top: 2em;
    padding-bottom: 2em;
    margin-bottom: 1px;
}

.content div.box>img{
    display: block;
    margin: 0 auto;
}

.introduction,.production,.information,.about-index{
    position: relative;
    background-color: rgba(0,0,0,.1);
    height:300px;
}

.introduction{
    background: url("../img/index_bg1/index_bg1.jpg") no-repeat center center;
    background-size: cover;
}

.bg1-1{
    width: 180px;
    height:180px;
    background: url("../img/index_bg1/1.png") no-repeat center center;
    background-size: cover;
    position: absolute;
    left:50%;
    margin-left: -320px;
    top:50%;
    margin-top:-90px;
}

/*.introduction div{*/
    /*-webkit-transition: all 1s;*/
    /*-moz-transition: all 1s;*/
    /*-ms-transition: all 1s;*/
    /*-o-transition: all 1s;*/
    /*transition: all 1s;*/
/*}*/

/*.introduction div:hover{*/
    /*-webkit-transform: rotateY(-90deg);*/
    /*-moz-transform: rotateY(-90deg);*/
    /*-ms-transform: rotateY(-90deg);*/
    /*-o-transform: rotateY(-90deg);*/
    /*transform: rotateY(-90deg);*/
/*}*/

.blur{
    -webkit-filter: blur(2px); /* Chrome, Opera */
    -moz-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=2, MakeShadow=false); /* IE6~IE9 */
}

.bg-black-01{
    background-color: rgba(0,0,0,.5);
    position: absolute;
    width: 100%;
    z-index: 100;
    height:100%;
    top:0;
    left:0;
    color: #ffffff;
}
